/* General Styles */
body {
    font-family: 'Nunito', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 2px solid #7ed957;
}

header img.logo {
    height: 50px;
}

nav a {
    color: #7ed957; /* Text color for normal state */
    margin: 0 10px;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    position: relative; /* Required for the hover effect */
}

nav a:hover {
    color: #139e1c; /* Text color changes to dark green on hover */
}

nav a::before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 3px;
    background-color: #139e1c; /* Dark green hover bar */
    transition: width 0.3s ease;
}

nav a:hover::before {
    width: 100%;
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.card {
    background-color: #ff3131;
    color: white;
    padding: 20px;
    margin: 0 20px;
    border-radius: 8px;
    text-align: center;
    width: 200px;
    font-weight: bold;
}

.card .step-number {
    background-color: white;
    color: #ff3131;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    font-size: 24px;
    font-weight: bold;
}

.card h2 {
    font-size: 18px;
    margin: 10px 0;
}

.card-icon {
    width: 50px;
    margin-top: 10px;
}

.start-container {
    text-align: center;
    margin-top: 40px;
}

/* Style for the Start Now button */
.start-now-btn {
    display: inline-block;
    background-color: #7ED957; /* Green background */
    color: white;
    padding: 10px 20px;
    text-align: center;
    font-size: 1.2rem;
    border-radius: 8px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.start-now-btn:hover {
    background-color: #139E1C; /* Darker green on hover */
}


