<!--contact-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AchieveFlow - Contact</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
        <header>
            <img src="/assets/logo_2.png" alt="Achieve Flow Logo" class="logo">
            <nav>
                <ul>
                    <a href="/">Home</a>
                    <a href="/add_habit">Get Started</a>
                    <a href="/track">Track</a>
                    <a href="/progress">Progress</a>
                    <a href="/contact">Contact</a>
                </ul>
        </header>
    <div class="content">
        <h1>Contact Me</h1>
        <p>Name: Angela Skubon</p>
        <p>Email: <a href="mailto:angela.skubon@mymail.champlain.edu">angela.skubon@mymail.champlain.edu</a></p>
    </div>
</body>
</html>
