<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AchieveFlow - Contact</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <!-- navbar.html -->
    <body>
        <header>
            <img src="/assets/logo_2.png" alt="Achieve Flow Logo" class="logo">
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/add_habit">Get Started</a></li> 
                    <li><a href="/track">Track</a></li>
                    <li><a href="/progress">Progress</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>

    <div class="content">
        <h1>Contact Me</h1>
        <p>Name: Angela Skubon</p>
        <p>Email: <a href="mailto:angela.skubon@mymail.champlain.edu">angela.skubon@mymail.champlain.edu</a></p>
    </div>
</body>
</html>
