<!-- index -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Achieve Flow</title>
    <link rel="stylesheet" href="/static/style.css">
    <header>
        <div class="logo-container">
            <img src="/assets/logo_2.png" alt="Achieve Flow Logo" class="logo">
        </div>
        <nav>
            <ul class="nav-links">
                <li><a href="/index.html">Home</a></li>
                <li><a href="/templates/add_habit.html">Add Habits</a></li>
                <li><a href="/templates/track.html">Track</a></li>
                <li><a href="/templates/progress.html">Progress</a></li>
                <li><a href="/templates/contact.html">Contact</a></li>
            </ul>
        </nav>
    </header>
    
    <!--Main Content-->
    <div class="content">
        <h1> Welcome to AchieveFlow</h1>
        <p>Your personal habit tracker to help achieve your goals.</p>
    <div>

    <!--Habit step cards-->
    <div class="container">
        <div class="card">
            <div class="step-number">1</div>
            <h2>Choose a habit</h2>
            <img src="/assets/checklist.png" alt="Checklist Icon" class="card-icon">
        </div>
        <div class="card">
            <div class="step-number">2</div>
            <h2>Track it</h2>
            <img src="/assets/checklist.png" alt="Checklist Icon" class="card-icon">
        </div>
        <div class="card">
            <div class="step-number">3</div>
            <h2>See progress</h2>
            <img src="/assets/checklist.png" alt="Checklist Icon" class="card-icon">
        </div>
    </div>
    <!--Start Button-->
    <div class="start-container">
        <a href="/templates/login.html" class="start-now-btn">Log in</a> <!-- link to login -->
    </div>
</body>
</html>
